[Desktop Entry]
Version=1.0
Type=Application
Name=Faraday Explorer
GenericName=Faraday Depth Polarisation Viewer
Comment=Interactive Faraday depth polarisation model viewer for radio astronomy
Exec=/home/amani/FaradayExplorer/launch_faraday_explorer.sh
Icon=/home/amani/FaradayExplorer/FEIcon.png
Terminal=false
Categories=Science;Astronomy;Education;
Keywords=radio;astronomy;polarisation;RM;Faraday;MeerKAT;QU;fitting;FDF;
StartupNotify=true
