<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>FaradayExplorer</string>
    <key>CFBundleName</key>
    <string>FaradayExplorer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIdentifier</key>
    <string>com.amaninjoroge.faradayexplorer</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    
    <!-- Document types: declare we handle .mod files -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mod</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string></string>
            <key>CFBundleTypeName</key>
            <string>FaradayExplorer Model File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeIdentifier</key>
            <string>com.amaninjoroge.faradayexplorer.mod</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    
    <!-- Export UTI declaration: claim ownership of .mod files -->
    <key>NSExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.amaninjoroge.faradayexplorer.mod</string>
            <key>UTTypeDescription</key>
            <string>FaradayExplorer Model File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mod</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
